body{
    padding: 0px;
    margin: 0px;
    text-align: center;
    background-color: rgb(238, 235, 235);
}

header{
    background-color: rgb(158, 95, 95);
    color: white;
    padding: 50px;
}

section{
    margin: 30px auto;
    width: 90%;
    max-width: 600px ;
    background-color: white;
    box-sizing: border-box;
    padding: 20px ;
    border: 1px grey solid;

}

section img{
    width: 100%;
    height: auto;

}

footer{
    background-color: rgb(154, 80, 80);
    margin-top: 20px;
    font-size: 25px;
}

h1{
    
    margin: 0px;
    
}